
@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'IniraBold';
  src: url('./InriaSans-Bold.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IniraReg';
  src: url('./InriaSans-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}